.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

.formWrapper {
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 10px;
}

footer a {
  color: red;
  text-decoration: none;
  border-bottom: 1px solid red;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0px;
}

.homePageLogo {
  width: 100px;
  height: 100px;
}

.inputBox {
  padding: 1opx;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: white;
  font-size: 16px;
  font-weight: bold;
  size: 100px;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn {
  background: lightgreen;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover {
  background: green;
}

.createInfo {
  margin-top: 20px;
}

.createNewRoomIdBtn {
  color: lightgreen;
  text-decoration: none;
  border-bottom: 1px solid lightgreen;
  transition: all 0.3s ease-in-out;
}

.createNewRoomIdBtn:hover footer a:hover {
  color: green;
  border-color: green;
}